<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted"><q>Build a future where people live in harmony with nature.
                    </q>“Focused, hard work is the real key to success. Keep your eyes on the goal, and just keep taking the next step towards completing it. 
                    If you aren’t sure which way to do something, do it both ways and see which works better”</p> - John Carmack</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Young and aspiring student with a passion for video games, currently studying Games Technology(Bsc) at The university of the west of England (UWE) with a background in Computer Science, Physics and Information Technology. I’ve always had a passion for computers, video games and programing. For as long as I can remember it has been my dream to work a key role in a development team for a major studio.

                        Currently, I have made 3 prototype games which you can find in the projects section of this portfolio.
                        
                        Super maths game; A 2d shooter inspired by super crate box, aimed to help kids practise maths in a friendly environment.
                        
                        Minesweeper 2.0; A super light, cmd edition of minesweeper that can run on virtually any windows machine.
                        
                        And finally, Atomic action; A fast paced arcade game on mobile, where players are tasked with sorting atoms in a power plant</p>
                </div>
            </div>
        </div>
    </section>